$color-main: #0080b0;

header, footer {
    color: Beige;
    background: $color-main;
}

header a {
    color: Beige !important;
    text-decoration: none;
}

header a:hover {
    color: Beige;
    opacity: 0.8;
    text-decoration: none;
}

header img {
    vertical-align: top;
    opacity: 0.9;
}

header img:hover {
    opacity: 1.0;
}

header .nav-link {
    padding-top: 0;
}

.banner {
    font-family: 'Permanent Marker', cursive;
    color: Beige;
}

.main-color-scheme {
    color: Beige !important;
    background: $color-main;
}

.reverse-color-scheme {
    color: $color-main;
    background: Beige;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    color: Beige;
}

.text-comment {
    color: Navy;
}

.text-main {
    color: $color-main;
}

